.input {
    display: flex;
    >input,
    >textarea {
        &:hover {
            background-color: rgba(0, 0, 0, 0.1)!important;
        }
        &:focus {
            outline: 0;
            background-color: rgba(0, 0, 0, 0.15)!important;
        }
        &.highlight {
            background-color: #565e66;
        }
    }
    >input[type="text"],
    >input[type="number"] {
        font-family: 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
        border: 0;
        min-width: 1em;
        width: 100%;
        color: #c3cad0;
        background-color: #4b5259;
        text-overflow: ellipsis;
    }
    input[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &.pre>input {
        font-family: monospace;
    }
    &.square>input {
        padding: 0!important;
        text-align: center;
    }
    >textarea {
        font-family: 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
        width: 100%;
        color: #c3cad0;
        background-color: #4b5259;
        border: 0;
        resize: none;
        overflow: hidden;
        box-sizing: border-box;
    }
    >.checkbox {
        background-color: rgba(0, 0, 0, 0.2);
        >span {
            display: block;
            text-align: center;
        }
    }
}
